.dialog {
  max-width: 1180px;
  padding: 6px;

  &__sentence {
    height: 36px;
    padding-left: 6px;
    display: flex;
    margin-bottom: 4px;

    &--odd {
      background-color: var(--odd-row);
    }
  }

  &__author {
    color: deepskyblue;
    margin-right: 2px;
    cursor: pointer;
  }

  &__text {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
